[user]
    name = Cside
    email = cside.story@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
    editor = vim
    excludesfile = /Users/Cside/.gitignore
    whitespace = cr-at-eol
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
    st = status
    co = checkout
    cb = checkout -b
    ci = commit -v
    di = diff -w
    br = branch
    pl = !git pull && git submodule update --init
    cp = cherry-pick
    branch-recent = !git-branch-recent
    ls-dirs = !git-ls-dirs
    delete-merged-branches = !git branch --merged | grep -v \\* | egrep -v '^(staging/)?master$' | xargs git branch -d

    # commit
    cim = commit -m
    amend = commit --amend
    resolve = commit -m 'resolve conflict' && git push
    empty = commit --allow-empty -m 'empty commit'

    # show
    s1 = show -1

    # log
    lp = log -p -w
    ls = log --stat=999,999
    l1 = log -1

    # diff
    ds = diff --stat=999,999
    staged = diff --staged
    todo = !leasot --skip-unsupported $(git ls-files)
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	showpr-stg = "!f() { git log --merges --oneline --reverse --ancestry-path $1...staging/master | grep 'Merge pull request #' | head -n 1; }; f"

[include]
    path = ~/.gitconfig.local
[push]
	default = current
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
