[user]
    name = Cside
    email = cside.story@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
    editor = vim
    excludesfile = /Users/Cside/.gitignore
    whitespace = cr-at-eol
[alias]
    st = status
    co = checkout
    cb = checkout -b
    ci = commit -v
    di = diff
    br = branch
    pl = !git pull && git submodule update --init
    todo = !leasot $(git ls-files | egrep '\\.(ts|js|vue|sh|zsh|bash|go|pl|pm|rb|html|css|scss|sass|sql|yaml)$')

    # commit
    cim = commit -m
    amend = commit --amend

    # show
    s1 = show -1

    # log
    lp = log -p
    ls = log --stat=999,999
    l1 = log -1

    # diff
    ds = diff --stat=999,999
    staged = diff --staged
