[user]
    name = Cside
    email = cside.story@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
    editor = vim
    excludesfile = /Users/Cside/.gitignore
    whitespace = cr-at-eol
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
    st = status
    co = checkout
    cb = checkout -b
    ci = commit -v
    di = diff
    br = branch
    pl = !git pull && git submodule update --init

    # commit
    cim = commit -m
    amend = commit --amend

    # show
    s1 = show -1

    # log
    lp = log -p
    ls = log --stat=999,999
    l1 = log -1

    # diff
    ds = diff --stat=999,999
    staged = diff --staged
    todo = !leasot --skip-unsupported $(git ls-files)

[include]
    path = ~/.gitconfig.local
