[
  {
    "modifierFlags" : 1179648,
    "order" : 0,
    "openSelectedFolders" : true,
    "enabled" : false,
    "keyCode" : 49,
    "openSelectedFiles" : true,
    "url" : "\/Clipboard.clipboard",
    "hideIfActive" : false
  },
  {
    "modifierFlags" : 401666,
    "order" : 1,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAEQWcD4Y0dg4M8ewwp1ULzBrxeRQQ2AOy3+9ETbwmnAkVAEAAAQAAAADAwAAAAgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAG8BAAAAAAAACAAAAAQDAAD\/ugoAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHAHykjAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABgfzMcAAAACAAAAAAEAABBwCWwfn1ZFSQAAAABAQAANjMzRjhBQzctQ0MzOS00OUVGLTg4MzgtOURCOTFCMEYxMUQxGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 40,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Google Chrome.app",
    "hideIfActive" : false
  },
  {
    "modifierFlags" : 401666,
    "order" : 2,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAC7L6NBq4pT9o6T9ybORO\/3CZ3gfTMWzFUZkhS0Zr+n9WAEAAAQAAAADAwAAAAgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwgU3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABvAQAAAAAAAAgAAAAEAwAAEx4TAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBv6BG6gAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAYH8zHAAAAAgAAAAABAAAQcAlsH59WRUkAAAAAQEAADYzM0Y4QUM3LUNDMzktNDlFRi04ODM4LTlEQjkxQjBGMTFEMRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 38,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Visual Studio Code.app",
    "hideIfActive" : false
  },
  {
    "modifierFlags" : 401666,
    "order" : 3,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAALFxekcfOq6KAiXaKRADlKPwunU145f0r0jGI4LAmWVBTAEAAAQAAAADAwAAAAgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABvAQAAAAAAAAgAAAAEAwAA5bcKAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBv7B+CgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAYH8zHAAAAAgAAAAABAAAQcAlsH59WRUkAAAAAQEAADYzM0Y4QUM3LUNDMzktNDlFRi04ODM4LTlEQjkxQjBGMTFEMRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 4,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/iTerm.app",
    "hideIfActive" : false
  },
  {
    "modifierFlags" : 401666,
    "order" : 4,
    "bookmark" : "Ym9vazACAAAAAAQQMAAAAOzYZhJWifKlzk1p+nR7RrRAlWgkoF+8Xy9GKdiAWD3TUAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDgAAAAEBAABEaWN0aW9uYXJ5LmFwcAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAbwEAAAAAAAAIAAAABAMAAEpCAAAAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQb8a8TkAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAGB\/MxwAAAAIAAAAAAQAAEHAJbB+fVkVJAAAAAEBAAA2MzNGOEFDNy1DQzM5LTQ5RUYtODgzOC05REI5MUIwRjExRDEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 14,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Dictionary.app",
    "hideIfActive" : false
  }
]